body
{
	padding-top: 70px;	
}

#footer
{
	padding-top: 100px;
}

table td
{
	vertical-align: middle !important;
}

.color_choose
{
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px #888;
	width: 100px;
	height: 32px;
	text-align: center;
	cursor: pointer;
	font-size: small;
}

img.device
{
	width: 40px;
}

.brightness_slider
{
	
}

.brightness_slider label
{
    font-weight: lighter;
    font-size: 70%;
}


#colorPicker
{
	border: solid thin #ccc;
	border-radius: 10px;
	position: absolute;
	top: 300px;
	left: 500px;
	opacity: 100%;
	background-color:white;
	display: none;
	z-index: 100;
}

#colorPicker span
{
	border: solid thin #aaa;
	
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: solid thin 1px;
	display: block;
	overflow: hidden;
	margin: 10px;
	cursor: pointer;
}
