<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  >
<body>
<div th:fragment="footer"  class="row">
<div id="footer" class="col-md-12">
<p>&copy; 2020 Tomasz Kańka</p>
<span sec:authorize="isAuthenticated()">
	| Logged user: <span sec:authentication="name"></span> |
	Roles: <span sec:authentication="principal.authorities"></span> |
	<a th:href="@{/logout}">Sign Out</a>
</span>
</div>
</div>
</body>
</html>