<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  >
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}" style="margin-top: -6px"><img alt="Smartlights controller" xth:src="@{/img/logo-tr30.png}"></img> </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<li><a class="nav-separator">|</a></li>
            <li><a th:href="@{/}">Devices</a></li>
          	<li><a class="nav-separator">|</a></li>
            <li><a th:href="@{/scene/list}">Scenes</a></li>
          	<li><a class="nav-separator">|</a></li>
            <li><a th:href="@{/sensors/list}">Sensors</a></li>
          	<li><a class="nav-separator">|</a></li>
            <li><a th:href="@{/automation/list}">Automation</a></li>
          	<li><a class="nav-separator">|</a></li>
            <li><a th:href="@{/about}">About</a></li>
 
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li sec:authorize="isAuthenticated()"><a href="#"><span sec:authentication="name"></span></a></li>
            <li sec:authorize="isAuthenticated()"><form action="/logout" method="post"><button class="btn btn-warning navbar-btn" >
            	<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            	</button>
            	</form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</body>
</html>