<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        >
<head>
    <title>Upload test</title>
</head>
<body>
	<div layout:fragment="content" class="row">
	<h1 th:text="${device.name}"></h1>
</body>
</html>