<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Devices</title>
</head>
<body>
	<div layout:fragment="content" >
		<div class="row">
		<h1>Devices</h1>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>ON</th>
				<th>Brightness</th>
				<th>Color</th>
<!-- 				<th>Color temp</th>  -->
			</tr>
			<tr th:each="el : ${bulbs}" >
				<td>
					<a th:href="${#strings.replace(el.uri, '/', '_')}"	th:text="${el.name}"></a>
				</td>
				<td>
					<img th:if="${el.type.toString()=='SWITCH'}" 	th:alt="${el.type}"	th:src="@{/img/switch.png}" 	class="device"></img>
					<img th:if="${el.type.toString()=='LIGHT' and el.bulbType.name() == 'WHITE'}" 	th:alt="${el.type}" th:src="@{/img/bulb_white.png}" class="device"></img>
					<img th:if="${el.type.toString()=='LIGHT' and el.bulbType.name() == 'COLD_WARM'}" 	th:alt="${el.type}" th:src="@{/img/bulb_warm.png}" class="device"></img>
					<img th:if="${el.type.toString()=='LIGHT' and el.bulbType.name() == 'COLOR'}" 	th:alt="${el.type}" th:src="@{/img/bulb_color.png}" class="device"></img>
				</td>
				<td>
					<a th:if="${el.state!=null}" th:href="@{switch/{u}(u=${#strings.replace(el.uri, '/', '_')})}" th:classappend="${el.state.on} ? btn-success : btn-danger" class="btn glyphicon glyphicon-off"></a>
				</td>
				<td>
					<div th:if="${el.state!=null}" class="brightness_slider">
						<label	th:for="@{'brightness_'+ ${#strings.replace(el.uri, '/', '_')}}"	th:text="${el.state.brightness}"></label> 
						<input type="range"	class="custom-range" th:id="@{'brightness_'+ ${#strings.replace(el.uri, '/', '_')}}" min="0" max="254" th:value="${el.state.brightness}"></input>
					</div>
				<td>
					<span th:if="${el.state != null  and (el.bulbType.name()=='COLOR' or el.bulbType.name()=='COLD_WARM')}" 
						th:text="${el.state.color.name}"	
						th:style="@{'background-color: #' + ${el.state.color.color}}"
						th:id="@{'color_'+ ${#strings.replace(el.uri, '/', '_')}}"
						th:bulbType=${el.bulbType.name()} 						
						class="color_choose">
					</span>
				</td>
<!-- 
				<td>
					<span th:if="${el.state!=null}"	th:text="${el.state.colorTemperature}" ></span>
				</td>
 -->				
			</tr>
		</table>
		</div>
		<div class="row">
			<form class="form-inline" action="../scene/add" method="post">
				<div class="form-group mb-2">
					<label for="name">Save as scene: </label> 
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter scene name"></input> 
				</div>
				<button type="submit" class="btn btn-primary mb-2">Submit</button>
			</form>
		</div>
		
		<div id="colorPicker" class="row col-md-2" >
			<div th:each="color : ${T(pl.test.smartlight.model.IkeaColor).selectableValues()}" class="col-md-3" th:warmcold="${color.warmColdWhite}">
				<span th:title="${color.name}" 
					th:style="@{'background-color: #' + ${color.color}}" 
					th:data="${color}" 
					>
				</span>
			</div>
			<div class="col-md-3" >
				<span th:title="Close" th:data="CLOSE" style="text-align: center;font-size: xx-large;">X</span>
			</div>
		</div>
	<script type="text/javascript">
		const colorPicker = $("#colorPicker");
		const sliders = $(".brightness_slider input");
		const colorPickerColors = $("#colorPicker span");
	
		sliders.on("input", function() {
			var label = $("label[for='" + this.id + "'");
			label.text(this.value);
		});
		sliders.on("change", function() {
			$.ajax({
				url: "brightness/" + this.id.replace("brightness_", "") + "/"+this.value,	
			}).done(function(){/*location.reload()*/});
		});

		$(".color_choose").on("click", function(){
			
			var position = $(this).offset();
			var bulbType = $(this).attr("bulbType");
			
			colorPicker.css("top", position.top + 30);
			colorPicker.css("left", position.left);
			
			
			if (bulbType == 'COLOR')
				$("#colorPicker div").show();
			else if (bulbType='COLD_WARM')
				$("#colorPicker div[warmcold='false']").hide();
			
			colorPicker.show();	
			colorPicker.data("url", this.id)
		})

		
		colorPickerColors.on("click", function(){
			var d = $(this).attr("data");
			if (d == 'CLOSE')
			{
				colorPicker.hide();
				return;
			}
			
			$.ajax({
				url: "color/" + colorPicker.data("url").replace("color_", "") + "/"+d,	
			}).done(function(){location.reload();});
			
				
		})
		
	</script>

	</div>
	
</body>
</html>