<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet">
<!-- Optional theme -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

</head>
<body>
	<!--/* Standard layout can be mixed with Layout Dialect */-->
	<div th:replace="fragments/header :: header">...</div>
	<div class="container">
		<div layout:fragment="content">
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime.                                     -->
			<!-- ============================================================================ -->
			<h1>Static content for prototyping purposes only</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Praesent scelerisque neque neque, ac elementum quam dignissim
				interdum. Phasellus et placerat elit. Lorem ipsum dolor sit amet,
				consectetur adipiscing elit. Praesent scelerisque neque neque, ac
				elementum quam dignissim interdum. Phasellus et placerat elit.</p>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2014 The
			Static Templates</div>
	</div>
</body>
</html>