<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Scenes</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<h1>Scenes</h1>

			<table class="table">
				<tr>
					<th>Name</th>
					<th>Created at</th>
					<th></th>
				</tr>
				<tr th:each="el : ${scenes}">
					<td><a th:href="@{setup/{u}(u=${el.id})}" th:text="${el.name}"></a></td>
					<td><span th:text="${el.createdAt}"></span></td>
					<td>
						<div class="">
		                <a th:href="@{setup/{u}(u=${el.id})}"  class="btn btn-success btn-sm " title="Włącz" >
            	            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                		</a>

		                <form style="display: inline" method="post" th:action="@{/scene/delete/{id}(id=${el.id})}">
		                <button type="submit" class="btn btn-sm btn-danger">
		                 <span class="glyphicon glyphicon-remove-sign"></span>
		                 </button>
		                 </form>


        		        </div>
					</td>

				</tr>
			</table>
		</div>
		<div class="row">
			<form class="form-inline" action="add" method="post">
				<div class="form-group mb-2">
					<label for="name">SceneName</label> 
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter scene name"></input> 
				</div>
				<button type="submit" class="btn btn-primary mb-2">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>