<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Devices</title>
</head>
<body>
	<div layout:fragment="content" class="row">
		<h1>Sensors</h1>

	<div>
		Lights:
		<span th:text="${lightsOn}"/>
	</div>
	<div>
		Day :
		<span th:text="${dayTime}"/>
	</div>
	<div>
		Streaming :
		<span th:text="${streaming}"/>
	</div>
	<div>
		Tom's iPhone :
		<span th:text="${tomsIphone}"/>
	</div>
	<hr/>
	<div>
		Sunrise:
		<span th:text="${sunrise}"/>
	</div>
	<div>
		Traffic:
		<span th:text="${traffic}"/>
	</div>
	<div>
		Sunset:
		<span th:text="${sunset}"/>
	</div>


	</div>
	
</body>
</html>