<p>scenes works!</p>

<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let s of scenes">
        <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{s.name}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="run(s)">Setup scene</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header> 
            <mat-card-content class="dashboard-card-content">
              <div>
                  <span *ngFor="let device of s.deviceStates">
                      <span *ngIf="device.state.on">{{device.name}}</span>
                  </span>
              </div>
            </mat-card-content>
            
          </mat-card>


    </mat-grid-tile>
</mat-grid-list>