<h2 mat-dialog-title>Pick color. Now: {{data.color.name}}</h2>
<mat-dialog-content class="mat-typography">

  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let c of data.allColors">
    <button mat-fab  [ngStyle]="{'background-color': '#'+c.htmlColor, 'color':'#444'}" title="{{c.name}}" (click)="colorClick(c)">
      <mat-icon *ngIf="c == data.color">favorite</mat-icon>
    </button>
  </mat-grid-tile>
  </mat-grid-list>
  

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="data.color" cdkFocusInitial>OK</button>
</mat-dialog-actions>
