<div class="grid-container">
    <h1 class="mat-h1">Devices</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef>url</mat-header-cell>
            <mat-cell *matCellDef="let lesson">{{lesson.uri}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell
                    class="type"
                    *matCellDef="let element">
                    <img height="32px"
                    [src]="(element.type == 'SWITCH') ?   'assets/images/switch.png' :
                            ((element.bulbType =='WHITE') ? 'assets/images/bulb_white.png' :
                            ((element.bulbType =='COLD_WARM') ?'assets/images/bulb_warm.png' :
                            'assets/images/bulb_color.png')
                            )" />
            </mat-cell>
    
        </ng-container>
    
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell class="duration-cell"
                      *matCellDef="let lesson">{{lesson.name}}</mat-cell>
        </ng-container>   
    
        <ng-container matColumnDef="onOff">
            <mat-header-cell *matHeaderCellDef>On</mat-header-cell>
            <mat-cell *matCellDef="let element">
                    <mat-checkbox
                        [hidden]="element.state == null"
                        [checked] = "element.state?.on"
                        (change)="switch(element, $event)"
                        >                    
                    </mat-checkbox>
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="slider">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                    <span
                            [hidden]="(element.state == null) || (element.state?.on == false)"
                    >
                            <mat-slider
                                    thumbLabel
                                    *ngIf="element.state != null"
                                    [value]="element.state?.brightness"
                                    max="254"
                                    (change)="changeSlider(element.uri, $event)"
                            >
                            </mat-slider>
                            </span>
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="button">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell
                    *matCellDef="let element"
                    >
                            <button
                                mat-raised-button
                                [style.background-color]="colorHtml(element.state?.color)"
                                *ngIf="element.state != null"
                                (click)="colorClick(element)"
                            >{{colorLabel(element.state.color)}}</button>
            </mat-cell>
        </ng-container>
    
    
    
    
    </table>
    


</div>



